Source/GTLCore.xcodeproj/project.xcworkspace/xcuserdata
Source/GTLCore.xcodeproj/xcuserdata
Source/Tools/ServiceGenerator/ServiceGenerator.xcodeproj/project.xcworkspace/xcuserdata
Source/Tools/ServiceGenerator/ServiceGenerator.xcodeproj/xcuserdata
Source/Tools/ServiceGenerator/build

# Any place they exist.
.DS_Store
